.color-accent {
  color: var(--color-primary-brightblue);
  font-weight: 700;
}

/* Hero section */

.brand-name.color-accent.capitalized {
  font-size: 140px;
  line-height: 0.8;
  font-family: "Play";
  color: var(--color-primary-brightblue);
  text-transform: capitalize;
}

.button {
  border-radius: 32px;
  font-size: 18px;
  line-height: 100%;
  background-color: var(--color-primary-brightblue);
  color: var(--color-primary-white);
  border: 2px solid var(--color-primary-brightblue);
  font-weight: 600;
}

.hero-section .bottom-text {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-secondary-gray);
}

/* About us section */

.about-us-text {
  color: var(--color-primary-darkblue);
  font-size: 22px;
  line-height: 1.7;
}

.about-us-text .brand-name {
  text-transform: capitalize;
  font-weight: 600;
}

/* Why us section */

.advantages-list {
  color: #000;
  font-size: 18px;
  line-height: 1.3;
}

/* Procedures section */

.procedure-name-heading {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--color-primary-white);
}

/* Contact form */

.contact-form .form-heading {
  color: var(--color-primary-white);
  font-size: 22px;
  line-height: 100%;
  font-weight: 600;
}

.contact-form .bottom-text {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-secondary-lightergray);
}

/* Footer styles */

.footer-link {
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  color: var(--color-primary-white);
}

.footer-link.contact {
  font-style: normal;
}

.footer-link:hover {
  color: var(--color-primary-brightblue);
}

.copyright {
  font-size: 13px;
  line-height: 100%;
  color: var(--color-secondary-lightergray);
}
