.about-us-section {
  padding-bottom: 176px;

  &__heading {
    margin-bottom: 40px;
  }

  &__text {
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 40px;

    &--highlighted {
      font-weight: 600;
    }
  }
}
